<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">zaq!2345</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://123.31.26.74:1433;databaseName=T1P</property>
        <property name="hibernate.connection.username">t1p</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>

        <property name="show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="net.techeco.model.Account"/>
        <mapping resource="Account.hbm.xml"/>
        <mapping class="net.techeco.model.AccountRole"/>
        <mapping resource="AccountRole.hbm.xml"/>
        <mapping resource="Notification.hbm.xml"/>
        <mapping class="net.techeco.model.Notification"/>
        <mapping resource="Place.hbm.xml"/>
        <mapping class="net.techeco.model.Place"/>
        <mapping resource="PrepareObject.hbm.xml"/>
        <mapping class="net.techeco.model.PrepareObject"/>
        <mapping resource="Transaction.hbm.xml"/>
        <mapping class="net.techeco.model.Transaction"/>
        <mapping class="net.techeco.model.TransactionCategory"/>
        <mapping resource="TransactionCategory.hbm.xml"/>
        <mapping class="net.techeco.model.Trip"/>
        <mapping resource="Trip.hbm.xml"/>
        <mapping resource="TripFund.hbm.xml"/>
        <mapping class="net.techeco.model.TripFund"/>
        <mapping resource="TripMember.hbm.xml"/>
        <mapping class="net.techeco.model.TripMember"/>
        <mapping resource="TripMemberPreparation.hbm.xml"/>
        <mapping class="net.techeco.model.TripMemberPreparation"/>
        <mapping resource="TripPlace.hbm.xml"/>
        <mapping class="net.techeco.model.TripPlace"/>
        <mapping class="net.techeco.model.TripPreparation"/>
        <mapping resource="TripPreparation.hbm.xml"/>
        <mapping resource="TripRole.hbm.xml"/>
        <mapping class="net.techeco.model.TripRole"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>