<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://123.31.26.74:1433;databaseName=T1P</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <mapping class="net.techeco.model.Account"/>
        <mapping class="net.techeco.model.AccountRole"/>
        <mapping class="net.techeco.model.Notification"/>
        <mapping class="net.techeco.model.Place"/>
        <mapping class="net.techeco.model.PrepareObject"/>
        <mapping class="net.techeco.model.Transaction"/>
        <mapping class="net.techeco.model.TransactionCategory"/>
        <mapping class="net.techeco.model.Trip"/>
        <mapping class="net.techeco.model.TripFund"/>
        <mapping class="net.techeco.model.TripMember"/>
        <mapping class="net.techeco.model.TripMemberPreparation"/>
        <mapping class="net.techeco.model.TripPlace"/>
        <mapping class="net.techeco.model.TripPreparation"/>
        <mapping class="net.techeco.model.TripRole"/>
        <mapping resource="net/techeco/model/Account.hbm.xml"/>
        <mapping resource="net/techeco/model/AccountRole.hbm.xml"/>
        <mapping resource="net/techeco/model/Notification.hbm.xml"/>
        <mapping resource="net/techeco/model/Place.hbm.xml"/>
        <mapping resource="net/techeco/model/PrepareObject.hbm.xml"/>
        <mapping resource="net/techeco/model/Transaction.hbm.xml"/>
        <mapping resource="net/techeco/model/TransactionCategory.hbm.xml"/>
        <mapping resource="net/techeco/model/Trip.hbm.xml"/>
        <mapping resource="net/techeco/model/TripFund.hbm.xml"/>
        <mapping resource="net/techeco/model/TripMember.hbm.xml"/>
        <mapping resource="net/techeco/model/TripMemberPreparation.hbm.xml"/>
        <mapping resource="net/techeco/model/TripPlace.hbm.xml"/>
        <mapping resource="net/techeco/model/TripPreparation.hbm.xml"/>
        <mapping resource="net/techeco/model/TripRole.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>