<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://123.31.26.74:1433;databaseName=T1P</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <mapping class="net.techeco.entity.AccountEntity"/>
        <mapping resource="net/techeco/entity/AccountEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.AccountRoleEntity"/>
        <mapping resource="net/techeco/entity/AccountRoleEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.CityEntity"/>
        <mapping resource="net/techeco/entity/CityEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.DistrictEntity"/>
        <mapping resource="net/techeco/entity/DistrictEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.FundEntity"/>
        <mapping resource="net/techeco/entity/FundEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.FundTransactionEntity"/>
        <mapping resource="net/techeco/entity/FundTransactionEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.NotificationEntity"/>
        <mapping resource="net/techeco/entity/NotificationEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.PlaceEntity"/>
        <mapping resource="net/techeco/entity/PlaceEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.PreparationEntity"/>
        <mapping resource="net/techeco/entity/PreparationEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.TransactionEntity"/>
        <mapping resource="net/techeco/entity/TransactionEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.TripEntity"/>
        <mapping resource="net/techeco/entity/TripEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.TripMemberEntity"/>
        <mapping resource="net/techeco/entity/TripMemberEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.TripPlaceEntity"/>
        <mapping resource="net/techeco/entity/TripPlaceEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.TripPreparationEntity"/>
        <mapping resource="net/techeco/entity/TripPreparationEntity.hbm.xml"/>
        <mapping class="net.techeco.entity.TripRoleEntity"/>
        <mapping resource="net/techeco/entity/TripRoleEntity.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>